@model IEnumerable<MovieReviews_MVC.Models.ViewModels.ReviewCardViewModel>

<div class="">

  @foreach (var review in Model)
  {
    <div class="card mb-3 position-relative review-card">
      <div class="card-body">
        <h4 class="card-title">@review.Title</h4>
        <div class="rateYo readOnly py-2 px-0" data-rating="@review.Rating"></div>
        <span>@review.AuthorUsername</span>
        <span>on @review.CreatedOn</span>
        <p class="card-text">
          @review.Body
        </p>

      </div>
      <div class="review-link__wrapper">
        <a class="review-link__link" href="@Url.Action("Details", "Review", new {id = review.Id})">Read full review...</a>

      </div>
    </div>

  }

</div>