@model MovieReviews_MVC.Models.IndexViewModel
@{
  ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<h4>Change your account settings</h4>
<hr />
<div class="row">
  <div class="col-4">

    <dl class="dl-horizontal">
      <dt>Password:</dt>
      <dd>
        [
        @if (Model.HasPassword)
        {
          @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
          @Html.ActionLink("Create", "SetPassword")
        }
        ]
      </dd>
    </dl>
    @using (Html.BeginForm("SetUserInfo", "Manage"))
    {
      @Html.AntiForgeryToken()

      <dt>Display Name:</dt>

      <div class="form-group">
        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = "Your Display Name" })
        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
      </div>




      <dt>Your Avatar URL:</dt>

      <div class="form-group">
        @Html.TextBoxFor(m => m.AvatarUri, new { @class = "form-control", placeholder = "Avatar URL" })
        @Html.ValidationMessageFor(model => model.AvatarUri, "", new { @class = "text-danger" })
      </div>



      <input type="submit" value="Save" class="btn btn-primary" />



    }
  </div>
  <div class="col-4">
    <img  src="@Model.AvatarUri" class="img-fluid" alt="Your Avatar Picture"  width="300" height="300" />
  </div>
</div>