@model MovieReviews_MVC.Models.ViewModels.CommentsViewModel

@{
  ViewBag.Title = "Details";
}
}
<div class="row mt-5">
  <a href="@Url.Action("Index")">
    <i class="fas fa-chevron-left"></i><span class="d-inline-block ml-2">Back to Movies</span>
  </a>
</div>
<div class="row mt-5">
  <div class="col-6">
    <img class="w-100" src="@Model.Movie.Image" alt="Alternate Text" />
  </div>
  <div class="col-6 pt-3 d-flex flex-column">

    <h2 class="mb-5">@Model.Movie.Title</h2>
    <p class="text-capitalize"> Rating: @Model.Movie.Rating</p>


    <p>@Model.Movie.Description</p>

    <p>
      Director/s:
      @foreach (var director in @Model.Directors)
      {
        <a href="@Url.Action("Details","FilmCrewMembers", new { id = director.Id})">@director.Name</a>
      }
    </p>
    <p>
      Actors:
      @foreach (var actor in @Model.Actors)
      {
      <a href="@Url.Action("Details","FilmCrewMembers", new { id = actor.Id})">@actor.Name</a>
      }
    </p>

    <button data-toggle="modal" data-target="#review-modal" class="btn btn-outline-primary d-inline" style="width: 250px;">Review this title</button>
  </div>

</div>
<div class="row">

</div>


<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#comments">Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#reviews">Reviews</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#news">Latest News</a>
  </li>

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="comments">
    @foreach (var comment in @Model.FakeComments)
    {
      @Html.Partial("_CommentPartial", comment)
    }

  </div>
  <div class="tab-pane fade" id="reviews">
    <div id="review-cards" data-url="/Review/Reviews/@Model.Movie.Id" class="mt-3">
      
    </div>
  </div>
  <div class="tab-pane fade" id="news">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
  </div>
</div>

@* Add Review modal *@ 
<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">@Model.Movie.Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="my-3">
          <div class="form-group">
            <label for="movie-rating" class="col-form-label mb-1">Overall rating</label>
            <div id="movie-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="review-title" class="col-form-label mb-1">Add a headline</label>
            <input placeholder="What's most important to know?" type="text" class="form-control" id="review-title">
          </div>
          <div class="form-group">
            <label for="review-text" class="col-form-label mb-1">Write your review</label>
            <textarea placeholder="What did you like or dislike?" class="form-control" style="height: 250px;" id="review-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
@* Review modal end *@


@section scripts{
  <script type="text/javascript">
    $(document).ready(() => {
      const card = $("#review-cards");
      const url = card.data("url");
      card.load(url);
    });
  
  </script>
}