@model MovieReviews_MVC.Models.ViewModels.MovieDetailsViewModel

@{
  ViewBag.Title = "Details";
}

<div class="row mt-5">
  <a href="@Url.Action("Index")">
    <i class="fas fa-chevron-left"></i><span class="d-inline-block ml-2">Back to Movies</span>
  </a>
</div>
<div class="row mt-5">
  <div class="col-6">
    <img class="w-100" src="@Model.Movie.Image" alt="Alternate Text" />
  </div>
  <div class="col-6 pt-3 d-flex flex-column">

    <h2 class="mb-5">@Model.Movie.Title</h2>
    <p class="text-capitalize"> Rating: <span class="rateYo readOnly d-inline-block" data-rating="@Model.Movie.Rating"></span></p>


    <p>@Model.Movie.Description</p>

    <p>
      Director/s:
      @foreach (var director in @Model.Directors)
      {
        <a href="@Url.Action("Details","FilmCrewMembers", new { id = director.Id})">@director.Name</a>
      }
    </p>
    <p>
      Actors:
      @foreach (var actor in @Model.Actors)
      {
        <a href="@Url.Action("Details","FilmCrewMembers", new { id = actor.Id})">@actor.Name</a>
      }
    </p>
    @if (Request.IsAuthenticated)
    {
      if (@Model.ReviewId == null)
      {
        <button class="btn btn-outline-primary d-inline" data-url="/Review/ReviewModal/@Model.Movie.Id" onclick="getReviewModal(event)" style="width: 250px;">Review this movie</button>
      }
      else
      {
        <a class="btn btn-outline-primary d-inline" href="@Url.Action("Details", "Review",  new { id = Model.ReviewId})" style="width: 250px;">Go to your review</a>
      }

    }
  </div>

</div>
<div class="row">

</div>


<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#comments">Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#reviews">Reviews</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#news">Latest News</a>
  </li>

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="comments">
    <div class="container  partials-content comments-block" data-url="/Comment/CommentCards/@Model.Movie.Id">
      <div class="loader">Loading...</div>

    </div>
    @if (Request.IsAuthenticated)
    {
      <div class="row">
        <input type="button" value="Comment" class="btn btn-primary text-capitalize" data-url="/Comment/GetCommentModal/@Model.PostId" onclick="getCommentModal(event)" />
      </div>
    }
  </div>
  <div class="tab-pane fade" id="reviews">
    <div class="partials-content mt-5" data-url="/review/reviews/@Model.Movie.Id">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div class="tab-pane fade" id="news">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
  </div>
</div>

@* Add Review Modal *@
<div class="add-review"></div>

@* Report Comment Modal *@
<div class="report-comment"></div>

@* Add Comment Modal *@
<div class="add-comment"></div>

